{% extends './layout.html.twig' %}

{% block title %}Pairs | Crypto Bot{% endblock %}

{% block head %}
<style>
pre {
    padding: 0 !important;
    color: #e83e8c !important;
}
</style>
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Pairs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ '/' }}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Pairs</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.Content Header (Page header) -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header border-bottom-0">

                                <div class="row">
                                    <div class="col-md-3">
                                        <input value="" placeholder="Search exchange, state, strategy" class="filter-pairs form-control form-control-sm">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="text-sm-right">
                                            <strong>Trading:</strong> {{ stats.trading }} <span class="text-muted"> - </span>
                                            <strong>Total Pairs:</strong> {{ pairs.length }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-pairs">
                                        <thead>
                                        <tr>
                                            <th scope="col" title="Exchange">E</th>
                                            <th scope="col">Symbol</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Capital</th>
                                            <th scope="col">Watching Strategies</th>
                                            <th scope="col">Trading Strategies</th>
                                            <th scope="col">Trading Options</th>
                                            <th scope="col">Process</th>
                                            <th scope="col">Status</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        {% for pair in pairs %}
                                            <tr data-search="{{ pair.exchange }}.{{ pair.symbol }} {{ pair.is_trading ? 'trade' : 'watch' }} {{ pair.strategy_names|join(' ') }}">
                                                <td class="no-wrap"><img src="/img/exchanges/{{ pair.exchange }}.png" title="{{ pair.exchange }}" alt="{{ pair.exchange }}" width="16px" height="16px"></td>
                                                <td class="no-wrap row-pair"><a target="blank" href="/tradingview/{{ pair.exchange }}:{{ pair.symbol }}">{{ pair.symbol }} <small class="text-warning">[{{ pair.leverage }}x]</small></td>
                                                <td class="no-wrap">{{ pair.is_trading ? '<i class="fas fa-exchange-alt fa-2x text-success" title="Trading"></i>' : '<i class="fas fa-chart-line fa-2x text-muted" title="Watching"></i>' }}</td>
                                                <td class="no-wrap">{% if pair.is_trading %}{{ pair.trade_currency_capital|default(0) }} {% endif %} <small>USDT</small></td>
                                                <td>
                                                    <span class="span-md">
                                                        <code><pre>{% if pair.strategies.length > 0 %}{{ pair.strategies|json_pretty }}{% endif %}</pre></code>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="span-md">
                                                        <code><pre>{% if pair.strategies_trade.length > 0 %}{{ pair.strategies_trade|json_pretty }}{% endif %}</pre><code>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="span-md">
                                                        <code><pre>{% if pair.watchdogs %}{{ pair.watchdogs|json_pretty }}{% endif %}</pre></code>
                                                    </span>
                                                </td>
                                                <td style="white-space: nowrap">{{ pair.process }}</td>
                                                <td style="white-space: nowrap">
                                                    {% if pair.has_position == true %}
                                                    <span class="badge badge-success">Active</span>
                                                    {% elseif pair.process %}
                                                    <span class="badge badge-warning">In Process</span>
                                                    {% else %}
                                                    <span class="badge badge-danger">Waiting</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
<script src="/js/pairs.js?v={{ asset_version() }}"></script>
{% endblock %}